html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  background-color: #eeeeee;
  color: #000000;
  font-family: Calibri,GillSans,Helvetica,sans-serif;
  margin: 0;
}
a:link, a:visited, a:hover {
  color: #008800;
  text-decoration: none;
}
.banner {
  background-color: #ddffdd;
  border-bottom-style: solid;
  border-color: #008800;
  border-width: 3px;
}
.banner h1 {
  margin: 0;
  padding: 0.5em;
  font-size: 1.75em;
  font-weight: normal;
}
@media (min-width: 700px) {
  .content {
    display: flex;
    align-items: flex-start;
  }
}
.posts {
  flex: 1 1 auto;
}
.posts hr {
  width: 95%;
}
.posts > h2, .post > h2 {
  font-size: 1.25em;
  font-weight: normal;
  margin-left: 5px;
}
.post > div {
  text-align: center;
}
.post > div > img {
  padding: 8px;
  border: 1px solid #404040;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #c0c0c0;
  box-sizing: border-box;
  max-width: calc(100% - 4px);
}
.post > div > p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.post > p {
  font-size: 70%;
  margin-left: 5px;
  margin-bottom: 2em;
}
.navigation {
  margin-left: 5px;
  margin-top: 1em;
}
.copyright {
  font-size: 70%;
  margin-left: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.sidebar {
  flex: 0 0 125px;
  margin: 5px;
  font-size: 90%;
}
@media (min-width: 700px) {
  .sidebar {
    background-color: #e0e0e0;
    padding: 5px;
  }
}
.sidebar > h2 {
  background-color: #ddffdd;
  color: #008800;
  font-size: 100%;
  padding: 2px 5px;
  margin: 0;
}
.sidebar > form > input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 10px 0;
}
.sidebar > form > ::placeholder {
  font-style: italic;
}
.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.sidebar > ul > li {
  display: inline-block;
  width: 125px;
}
.post-left {
  text-align: left;
  margin-left: 5px;
}
